html {
    font-family: 'Times New Roman', Times, serif,Handuck;
    scroll-behavior: smooth;

}

.navbar{

}

#landing {
    height: 100vw;
    width: 100vw;
    background-image: url("https://www.josephfiler.com/images/xl/California-Yosemite-Half-Dome-Sunset-0050.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    overflow-wrap:cover;
    background-attachment:scroll;
} 

 #bio {
    position:center;
    margin:auto;
    width:310px;
    padding-top:125px;
    font-family:handuck;
    /* display:flex; */
    justify-content:center;
    /* align-items:center; */
    /* opacity:0.6; */
    /* border: grey solid 5px; */
 }

 #name {
    font:;
    font-size:25px;

 }
 

/* #pic {
    display:flex;
    height: 150px;
    width: 200px;
    border-radius:50px;
    clip-path: circle();
} */

#bootcampProj {
   display:flex-center;
   margin: 20px 20px 20px 20px; 
   padding:5px;
   text-align: center;
   height:auto;  
}

.badgeImage {
    width:250px;
    height: 250px;b
    margin:50px;
}

.icon-size { 
    width:100px;
    height:400px;
    font-size:100px;
    margin: 10px 10px 10px 10px;
}

.skillsBox {
    width: 100vw;
    height: 400px;
    padding: 10px;
    flex-direction: column;
    background-color: black;
}


.skills {
    display:inline-block;
    margin:  auto;
    height: 100%;
    width: 100%;
    justify-content: center;
    display:flex;
    color: blue;
}

#socialLinks {
    margin: auto;
    height: 100%;
    width: 50%;
    justify-content: center;
    display: flex;
    color: blue;
    align-items: flex-end;
}

#contactForm {
    margin-top: 5vw;
    margin-left:15vw;
    margin-right:15vw;
    padding:5vw;
    border-top: 30px grey;
    height:auto;
}

#footer {
    
}

