html {
    /* font-family: 'Times New Roman', Times, serif; */
    scroll-behavior: smooth;

}

#landing {
    height: 100vh;
    width: 100vw;
    background-image: url("https://www.josephfiler.com/images/xl/California-Yosemite-Half-Dome-Sunset-0050.jpg");
    border: 10px solid black;
    background-repeat:no-repeat;
    background-size:cover;
    overflow-wrap:normal;
} 

 #biocard {
    margin:100px 100px 100px 100px;
    height:80vh;
    width:80vw;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0.6;
    border: grey solid 5px;
 }

#pic {
    height: 150px;
    width: 200px;
    border-radius:50px;
    clip-path: circle();
}

#name {
    font-family:;
}

/* #introText {
    background-color:oldlace;
    opacity:0.6;
    width:50vw;
    height:25%;
    word-wrap:break-word;
} */

#bootcampProj {
   padding:5px;
   text-align: center;
   
}


.badgeImage {
    width:250px;
    height: 250px;
    ;
}

#contactForm {
    margin-top: 5vw;
    margin-left:15vw;
    margin-right:15vw;
    padding:5vw;
    border: 10px black;
    border-radius: 10px;
}

.icon-size { 
    width:100px;
    font-size:100px;
    margin: 10px 10px 10px 10px;
}

.skills {
    margin-top: 40px;
    height: 100%;
    width: 100%;
    justify-content: center;
    display:flex;
    color: blue;
}

#socialLinks {
    margin: auto;
    height: 100%;
    width: 50%;
    justify-content: center;
    display: flex;
    color: blue;
    align-items: flex-end;
}

.skillsBox {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

